# Visual Studio / .NET
## Ignore Visual Studio temporary files, build results, and user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn files
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Cache files
*.nuget.props
*.nuget.targets

# User-specific files
*.DotSettings.user

# PiperTTS downloaded files (managed by the app in AppData, but good to ignore if they were ever local)
piper_tts/
**/piper_tts/

# Other
*.vsix
*.log
*.tlog
